@import 'variables';
/*BLOG*/
.container__card {
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    position: relative;
    margin: 20px;
    transition: all 300ms;
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 1px 1px 20px -10px #20202049;
  }
  
  .card:hover .info__description {
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
  }
  
  .card:hover .logo {
    margin-top: -20px;
    border-radius: 20px 20px 0px 0px;
  }
  
  .logo {
    width: 100%;
    height: 220px;
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
  }
  
  .logo img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    font-size: 150px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  }
  
  .info__description {
    width: 100%;
    height: 220px;
    color: var(--colorTextos);
    background: #f2f2f2;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
  }
  
  .info__description p {
    font-size: 14px;
    margin-top: 10px;
    /*Para esconder texto*/
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
  }
  
  .info__description a input {
    margin-top: 20px;
    padding: 10px 40px;
    background: var(--color-secundary);
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    transition: box-shadow 300ms;
  }
  
  .info__description input:hover {
    box-shadow: 1px 1px 30px -5px #20202070;
  }
  
  /*COLOR DE LAS CARD*/
  .c:hover .logo {
    background: var(--color-secundary);
  }