@import 'variables';
/*Footer*/
.footer {
    background: var(--color-primary);
  }
  
  .footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
  }
  
  .footer__title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .footer__icons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer__container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  
  .footer__icons {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
  }
  
  .fab.footer__icons {
    line-height: 60px;
  }