@import 'variables';
/*Grid*/
.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
  }
  
  .about__img {
    text-align: center;
  }
  
  .about__img--left {
    text-align: left;
  }
  
  .about__picture {
    max-width: 70%;
  }
  
  .about__paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
  }