@import 'variables';
/* Responsive design*/
@media screen and (max-width: 800px) {
    :root {
      --boton-padding: 18px 40px;
    }
    .nav {
      justify-content: space-around;
    }
    .nav__items--cta {
      border: none;
    }
    .nav__items {
      font-weight: 400;
      border-bottom: 1px solid #fff;
      margin-right: 0;
    }
    .nav__items--footer {
      border: none;
    }
    .hero__texts {
      width: 100%;
      margin-bottom: 80px;
    }
    .hero__title {
      font-size: 2.5rem;
    }
    .hero__subtitle {
      font-size: 1.5rem;
    }
    /*About*/
    .presentation__copy {
      width: 100%;
    }
    .about {
      grid-template-columns: 1fr;
    }
    .about.container {
      padding-top: 30px;
    }
    .about__img--left {
      text-align: center;
    }
    .about__texts:last-child {
      grid-row: 3/4;
    }
    /*Proyectos*/
    .projects__grid {
      grid-template-areas: "img1 img1 img2 img2"
   "img1 img1 img3 img3"
   "img4 img4 img5 img5";
    }
    /*Testimony*/
    .testimony__grid {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    /*Footer*/
    .footer__grid {
      grid-template-columns: 1fr;
    }
    .footer__contact {
      grid-row: 1/2;
    }
  }
  
  @media screen and (max-width: 500px) {
    :root {
      --boton-padding: 18px 35px;
    }
    .nav {
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 10px;
    }
    .subtitle {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .nav__items {
      padding: 0 10px;
      border: 0;
    }
    .hero__texts {
      text-align: center;
      margin-bottom: 100px;
    }
    .hero__title {
      font-size: 2rem;
    }
    /*about*/
    .presentation__picture {
      width: 120px;
      height: 120px;
    }
    .about {
      row-gap: 60px;
    }
    .about.container {
      padding-top: 10px;
    }
    /*projects*/
    .projects__grid {
      grid-template-areas: "img1"
   "img2"
   "img3"
   "img4"
   "img5";
      height: auto;
      grid-template-rows: repeat(5, 250px);
      grid-auto-rows: 250px;
      /*para cuando hayas filas implicitas*/
      gap: 10px;
    }
    /*testimony*/
    .testimony__item {
      padding: 30px 15px;
    }
    .testimony_person {
      flex-direction: column;
    }
    .testimony__texts {
      text-align: center;
    }
    .testimony__img {
      margin: 0;
      margin-bottom: 20px;
    }

    form {
      width: 80%;
    }
  }